#one {;background:#fdf6f1}
        #headerimg {padding:10px;}
        #stage h1{color:#4d433b}
        #stage {padding:0 60px 10px;color:#75685e;line-height:1.7em}
        #stage img {text-align:center;margin:auto}
        #context {padding:0 0 100px 0;}
        #ad {background:black;position:fixed;bottom:0;;padding:0;left:0;;border$}
		#top {text-align:center;margin:auto}        

		.sup {font-size: 70%; position:relative;top:-0.3em}

