        #context {display:none}
        #headerimg {margin:auto;padding:10px;text-align:center}
        #stage h1{color:#0066cc;text-shadow:1px 2px 5px #ccc;text-align:center}
        #stage {}
        #context {padding:0 0 100px 0}
        #ad {background:black;position:fixed;bottom:0;;padding:0;left:0;;border$


